:root {
  --primary-color: #636B2F;
  --secondary-color: #000F08;
  --white: #FFFFFF;
  --grayish: #587792;
}

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a default font */
body {
  font-family: Arial, sans-serif;
  background-color: var(--grayish);
}
